name: Update flake.lock
run-name: 'Check flake inputs for updates'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nixbuild/nix-quick-install-action@v33
      - uses: DeterminateSystems/update-flake-lock@v27
        with:
          token: ${{ secrets.PAT }}
          commit-msg: 'chore: update flake.lock'
          branch: bot/update-flake
          pr-title: 'chore: update flake.lock'
          pr-labels: automated
          pr-body: |
            Automated changes by the [update-flake-lock](https://github.com/DeterminateSystems/update-flake-lock) GitHub Action.

            ```
            {{ env.GIT_COMMIT_MESSAGE }}
            ```
